HomeCinema/HomeCinema.v12.suo
HomeCinema/HomeCinema.v12.suo
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Data.dll
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Data.dll.config
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Data.pdb
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Entities.dll
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Entities.pdb
HomeCinema/HomeCinema.Data/HomeCinema.Data.csproj
HomeCinema/HomeCinema.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HomeCinema/HomeCinema.Data/obj/Debug/HomeCinema.Data.csproj.FileListAbsolute.txt
HomeCinema/HomeCinema.Data/obj/Debug/HomeCinema.Data.csprojResolveAssemblyReference.cache
HomeCinema/HomeCinema.Data/obj/Debug/HomeCinema.Data.dll
HomeCinema/HomeCinema.Data/obj/Debug/HomeCinema.Data.pdb
HomeCinema/HomeCinema.Entities/bin/Debug/HomeCinema.Entities.dll
HomeCinema/HomeCinema.Entities/bin/Debug/HomeCinema.Entities.pdb
HomeCinema/HomeCinema.Entities/obj/Debug/HomeCinema.Entities.csproj.FileListAbsolute.txt
HomeCinema/HomeCinema.Entities/obj/Debug/HomeCinema.Entities.dll
HomeCinema/HomeCinema.Entities/obj/Debug/HomeCinema.Entities.pdb
HomeCinema/HomeCinema.v12.suo
HomeCinema/HomeCinema.Data/App.config
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Data.dll
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Data.dll.config
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Data.pdb
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Entities.dll
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Entities.pdb
HomeCinema/HomeCinema.Data/HomeCinema.Data.csproj
HomeCinema/HomeCinema.Data/App.config
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Data.dll
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Data.dll.config
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Data.pdb
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Entities.dll
HomeCinema/HomeCinema.Data/bin/Debug/HomeCinema.Entities.pdb
HomeCinema/HomeCinema.Data/HomeCinema.Data.csproj
